
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.template{
    visibility: hidden;
}
h2{
    font-family: 'Abril Fatface', cursive;
    text-transform: lowercase;
    text-align: center;
}

.student{
    border: 1px solid #ddd;
    padding: .75rem 1.25rem;
    transition:.25s;
}

.alert{
    font-family: sans-serif
}

.actions{
    float:right;
    margin-bottom: 0;
}

.actions .button{
    padding:.5em .69em .5em .64em;
    font-size:1.2rem
}

.actions .button.hover{
    transform: scale(1.1)
}

.student + .student{
    border-top: none;
}
.student.name{
    float:left;
    line-height: 38px;
    white-space:nowrap;
    text-overflow: ellipsis;
    width: calc(100%-110px)
}
.edit{
    background-color: #551a8b
}
.promoted{
    background-color:#ffa807
}
.save{
    background-color: #800000
}